/**
* @file 
* @date 2021-08-26
* @author admin 
* @lastModify admin  2021-08-26
*/
/* <------------------------------------ **** CONSTANT IMPORT START **** ------------------------------------ */
/** Import all the reference constant after this line */
@import '~/Constant/font.scss';
@import '~/Constant/color.scss';
/* <------------------------------------ **** CONSTANT IMPORT END **** ------------------------------------ */
/* <------------------------------------ **** SECTION1 MIXIN START **** ------------------------------------ */
/** The demo mixin is ..........*/
@mixin demo {
}
/* <------------------------------------ **** SECTION1 MIXIN END **** ------------------------------------ */
/* <--------------------------- * SECTION1 * --------------------------- */
.emoji_container {
    margin: 20px;
    display: flex;
    flex-direction: column;
}
.emoji {
    display: flex;
    flex-wrap: wrap;
    li {
        display: flex;
        width: 270px;
        align-items: center;
        margin-right: 10px;
        margin-bottom: 10px;
        padding: 2px 2px;
        border: 1px solid #ddd;
        cursor: pointer;
        font-size: 14px;
        font-weight: bold;
    }
    div {
        display: flex;
        flex-direction: column;
        margin-right: 3px;
    }
}
li {
    list-style: none;
}
/* <--------------------------- * SECTION1 * --------------------------- */
