// color list
$primary: #264c59;
$primary_variant: #478da5;
$secondary: #fd6b0b;
$secondary_variant: #ff944e;
$type: #000000;
$type_light: #666666;
$yellow: #f2c94c;
$orange: #ff8b03;
$line_dark: #828282;
$line_light: #bdbdbd;
$not_activated: #e8e8e8;
$hover: #d4d4d4;
$background: #ffffff;
$error: #b00020;
$gray1: #333333;
$gray2: #4f4f4f;
$hover: #d5d5d5;
$red: #eb5757;
$green2: #27ae60;
$gray6: #f2f2f2;
$gray3: #e8e8e8;
$gray4: #bdbdbd;
$gray5: #e0e0e0;
$gray6: #f2f2f2;
// shadow list
$shadow_00dp: 0 0 0 0 $background;
$shadow_01dp: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.12),
    0px 1px 3px rgba(0, 0, 0, 0.2);
$shadow_02dp: 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 3px 1px rgba(0, 0, 0, 0.12),
    0px 1px 5px rgba(0, 0, 0, 0.2);
$shadow_03dp: 0px 3px 4px rgba(0, 0, 0, 0.14), 0px 3px 3px rgba(0, 0, 0, 0.12),
    0px 1px 8px rgba(0, 0, 0, 0.2);
$shadow_04dp: 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 1px 10px rgba(0, 0, 0, 0.12),
    0px 2px 4px rgba(0, 0, 0, 0.2);
$shadow_06dp: 0px 6px 10px rgba(0, 0, 0, 0.14), 0px 1px 18px rgba(0, 0, 0, 0.12),
    0px 3px 5px rgba(0, 0, 0, 0.2);
$shadow_08dp: 0px 8px 10px rgba(0, 0, 0, 0.14), 0px 3px 14px rgba(0, 0, 0, 0.12),
    0px 5px 5px rgba(0, 0, 0, 0.2);
$shadow_09dp: 0px 9px 12px rgba(0, 0, 0, 0.14), 0px 3px 16px rgba(0, 0, 0, 0.12),
    0px 5px 6px rgba(0, 0, 0, 0.2);
$shadow_12dp: 0px 12px 17px rgba(0, 0, 0, 0.14), 0px 5px 22px rgba(0, 0, 0, 0.12),
    0px 7px 8px rgba(0, 0, 0, 0.2);
$shadow_16dp: 0px 16px 24px rgba(0, 0, 0, 0.14), 0px 6px 30px rgba(0, 0, 0, 0.12),
    0px 8px 10px rgba(0, 0, 0, 0.2);
$shadow_24dp: 0px 24px 38px rgba(0, 0, 0, 0.14), 0px 9px 46px rgba(0, 0, 0, 0.12),
    0px 11px 15px rgba(0, 0, 0, 0.2);
// frequently used color
$gray_6: #f2f2f2;
