// font family list
$commonFamily: -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica', 'Arial', 'Calibri',
    'Segoe UI', 'Ping Fang SC', 'Microsoft Yahei';
$fs_r_48: 400 4.8rem $commonFamily;
$fs_m_34: 500 3.4rem $commonFamily;
$fs_r_34: 400 3.4rem $commonFamily;
$fs_l_34: 300 3.4rem $commonFamily;
$fs_r_30: 400 3rem $commonFamily;
$fs_l_30: 300 3rem $commonFamily;
$fs_m_24: 500 2.4rem $commonFamily;
$fs_r_24: 400 2.4rem $commonFamily;
$fs_r_22: 400 2.2rem $commonFamily;
$fs_l_22: 300 2.2rem $commonFamily;
$fs_m_20: 500 2rem $commonFamily;
$fs_r_20: 400 2rem $commonFamily;
$fs_l_20: 300 2rem $commonFamily;
$fs_m_18: 500 1.8rem $commonFamily;
$fs_r_18: 400 1.8rem $commonFamily;
$fs_l_18: 300 1.8rem $commonFamily;
$fs_m_16: 500 1.6rem $commonFamily;
$fs_r_16: 400 1.6rem $commonFamily;
$fs_l_16: 300 1.6rem $commonFamily;
$fs_m_14: 500 1.4rem $commonFamily;
$fs_r_14: 400 1.4rem $commonFamily;
$fs_l_14: 300 1.4rem $commonFamily;
$fs_m_12: 500 1.2rem $commonFamily;
$fs_r_12: 400 1.2rem $commonFamily;
$fs_l_12: 300 1.2rem $commonFamily;
$fs_r_10: 400 1rem $commonFamily;
$fs_l_10: 300 1rem $commonFamily;
