.header_container{width:100%;height:50px;padding-left:20px;line-height:50px;font-size:18px;background-color:#1f262e;color:#fff}

.one_container{display:flex}.one_left{margin:20px}.on_link{margin-bottom:20px}.one_editor{width:1000px;height:500px;border:1px solid #eee}.one_right{margin-top:40px}.one_select{margin-bottom:20px}

.two_container{display:flex}.two_left{margin:20px}.two_editor{width:1000px;height:500px;border:1px solid #eee}.two_right{margin-top:20px}

.three_container{display:flex}.three_left{margin:20px}.three_editor{border:1px solid #eee}.three_right{margin-top:20px}

.emoji_container{margin:20px;display:flex;flex-direction:column}.emoji{display:flex;flex-wrap:wrap}.emoji li{display:flex;width:270px;align-items:center;margin-right:10px;margin-bottom:10px;padding:2px 2px;border:1px solid #ddd;cursor:pointer;font-size:14px;font-weight:bold}.emoji div{display:flex;flex-direction:column;margin-right:3px}li{list-style:none}

.five_container{margin:20px}.three_editor{margin-top:10px;height:1000px;border:1px solid #eee}

