/**
* @file 
* @date 2021-08-26
* @author admin 
* @lastModify admin  2021-08-26
*/
/* <------------------------------------ **** CONSTANT IMPORT START **** ------------------------------------ */
/** Import all the reference constant after this line */
@import '~/Constant/font.scss';
@import '~/Constant/color.scss';
/* <------------------------------------ **** CONSTANT IMPORT END **** ------------------------------------ */
/* <------------------------------------ **** SECTION1 MIXIN START **** ------------------------------------ */
/** The demo mixin is ..........*/
@mixin demo {
}
/* <------------------------------------ **** SECTION1 MIXIN END **** ------------------------------------ */
/* <--------------------------- * SECTION1 * --------------------------- */
.header_container {
    width: 100%;
    height: 50px;
    padding-left: 20px;
    line-height: 50px;
    font-size: 18px;
    background-color: #1f262e;
    color: #fff;
}
/* <--------------------------- * SECTION1 * --------------------------- */
